html {
    background: url(./assets/background.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     
}

.content-section {
    margin: 30px;
    background-image: linear-gradient(to top, rgba(255,255,255,0.3), rgba(255,255,255,0.3), rgba(255,255,255,0.3), rgba(255,255,255,0.5)), ;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    padding: 20px;

    .cards-container {
        display: flex;
        justify-content: space-between;


        .menu-container {
            width: 20%;
            
            .menu-label, a {
                color: white;
                width: 90%;
                text-shadow: 2px 2px 4px #000000;

               
            }
            
            a {
                transition: 0.4s;
                border-radius: 10px;
                &:hover {
                    background: rgba(255,255,255,0.4)
                }
            }
        }

        .card-container {
            width: 80%;
            .card {
                background:rgba(255,255,255,0.4);
                border-radius: 20px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                .card-header {
                    p {
                        color:white;
                        text-shadow: 1px 1px 2px #000000;
                    }
                }

                .card-content {
                    .media {
                        .media-left {
                            img {
                                height: 200px;
                                border-radius: 50px;
                                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                            }
                        }

                        .media-content {
                            background:rgba(255,255,255,0.4);
                            padding: 15px;
                            border-radius: 10px;
                            margin-left: 8px;
                            .notification{
                                background: none;
                            }
                        }
                    }
                }
            }
        }
    }

}

.navbar {
    background-color: rgba(0,0,0,0);
    padding: 10px;
    margin-bottom: 50px;

    .navbar-brand {
        background:  rgba(255,255,255,0.3);
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        h1 {
            color: white;
            text-shadow: 2px 2px 4px #000000;
        }
    }

    .navbar-end {
        background:  rgba(255,255,255,0.3);
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        a {
            color: white;
            transition: 0.4s;
            border-radius: 20px;
            text-shadow: 2px 2px 4px #000000;
            &:hover {
                background: rgba(255,255,255,0.4);
            }
        }
    }
}